In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("../data/processed/nhs_no_show_enhanced_synthetic.csv")
df

,IMD_Decile,Ethnicity,Age_Group,Gender,Medical_Specialty,Consultation_Type,Appointment_Type,Base_NoShow_Prob,NoShow_Prob_Final,Previous_Appointments,Previous_NoShows,NoShow
0,More deprived 30-40%,British (White),80-84,Male,Nursing,Face-to-Face,First,0.01,0.065,4,0,No
1,Least deprived 10%,British (White),50-54,Female,Rheumatology,Face-to-Face,First,0.01,0.067,3,0,No
2,Less deprived 20-30%,Unknown,75-79,Female,Cardiology,Telemedicine,Subsequent,0.01,0.010,4,0,No
3,Less deprived 30-40%,Unknown,15,Male,Total Activity,Face-to-Face,Subsequent,0.01,0.057,3,0,No
4,More deprived 10-20%,British (White),40-44,Female,Gynaecology,Face-to-Face,First,0.01,0.071,7,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,Less deprived 30-40%,Unknown,60-64,Female,Total Activity,Face-to-Face,Subsequent,0.01,0.023,3,0,No
199996,Less deprived 30-40%,Unknown,70-74,Female,Neurology,Face-to-Face,First,0.01,0.059,3,0,No
199997,More deprived 10-20%,Not stated,50-54,Female,Total Activity,Face-to-Face,Subsequent,0.01,0.027,0,0,No
199998,Less deprived 30-40%,British (White),35-39,Female,Total Activity,Face-to-Face,Subsequent,0.01,0.033,4,0,No
199999,Most deprived 10%,Unknown,10-14,Female,Total Activity,Face-to-Face,First,0.01,0.089,4,1,No

In [2]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   IMD_Decile             200000 non-null  object
 1   Ethnicity              200000 non-null  object
 2   Age_Group              200000 non-null  object
 3   Gender                 200000 non-null  object
 4   Medical_Specialty      200000 non-null  object
 5   Consultation_Type      200000 non-null  object
 6   Appointment_Type       200000 non-null  object
 7   Base_NoShow_Prob       200000 non-null  float64
 8   NoShow_Prob_Final      200000 non-null  float64
 9   Previous_Appointments  200000 non-null  int64
 10  Previous_NoShows       200000 non-null  int64
 11  NoShow                 200000 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 18.3+ MB

IMD_Decile               0
Ethnicity                0
Age_Group                0
Gender                   0
Medical_Specialty        0
Consultation_Type        0
Appointment_Type         0
Base_NoShow_Prob         0
NoShow_Prob_Final        0
Previous_Appointments    0
Previous_NoShows         0
NoShow                   0
dtype: int64

In [3]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
IMD_Decile,200000,11,Less deprived 40-50%,20098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethnicity,200000,18,Unknown,104016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age_Group,200000,23,80-84,18215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,200000,2,Female,116783,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Medical_Specialty,200000,84,Total Activity,99832,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consultation_Type,200000,2,Face-to-Face,165234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Appointment_Type,200000,2,Subsequent,134330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Base_NoShow_Prob,200000.0,NaN,NaN,NaN,0.01,0.0,0.01,0.01,0.01,0.01,0.01
NoShow_Prob_Final,200000.0,NaN,NaN,NaN,0.040304,0.022648,0.01,0.023,0.033,0.059,0.105
Previous_Appointments,200000.0,NaN,NaN,NaN,3.49801,1.871597,0.0,2.0,3.0,5.0,17.0
Previous_NoShows,200000.0,NaN,NaN,NaN,0.14107,0.384383,0.0,0.0,0.0,0.0,5.0
NoShow,200000,2,No,192029,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("Missing values per column:")
print(df.isnull().sum())

print("\nDuplicate rows:", df.duplicated().sum())

Missing values per column:
IMD_Decile               0
Ethnicity                0
Age_Group                0
Gender                   0
Medical_Specialty        0
Consultation_Type        0
Appointment_Type         0
Base_NoShow_Prob         0
NoShow_Prob_Final        0
Previous_Appointments    0
Previous_NoShows         0
NoShow                   0
dtype: int64

Duplicate rows: 70467

In [5]:

print(df['Gender'].value_counts(normalize=True) * 100)

print(df['IMD_Decile'].value_counts(normalize=True) * 100)

df['Age_Group'].value_counts().sort_values(ascending=False)

NoShow
No     96.0145
Yes     3.9855
Name: proportion, dtype: float64
Gender
Female    58.3915
Male      41.6085
Name: proportion, dtype: float64
IMD_Decile
Less deprived 40-50%      10.0490
More deprived 30-40%       9.9720
More deprived 20-30%       9.9500
More deprived 10-20%       9.9175
More deprived 40-50%       9.8900
Less deprived 30-40%       9.8865
Less deprived 20-30%       9.8630
Less deprived 10-20%       9.8225
Most deprived 10%          9.6630
Least deprived 10%         9.4700
Unknown/Non-UK Country     1.5165
Name: proportion, dtype: float64

Age_Group
80-84     18215
65-69     16834
70-74     16499
75-79     16402
60-64     14997
35-39     13159
85-89     12746
55-59     12411
40-44     12087
30-34     10191
45-49      9985
50-54      9709
90-120     7745
25-29      6224
10-14      5576
5-9        5060
1-4        3921
0          2168
15         1429
16         1331
17         1248
20-24      1038
18         1025
Name: count, dtype: int64

In [15]:
noshow_rate = df['NoShow'].value_counts(normalize=True).mul(100)
print("No-show rate summary (%):\n", noshow_rate)

No-show rate summary (%):
 NoShow
No     96.0145
Yes     3.9855
Name: proportion, dtype: float64

In [14]:
df.groupby('Gender')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow         No       Yes
Gender
Female  96.347071  3.652929
Male    95.547785  4.452215

In [23]:

df.groupby("Age_Group")['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow            No       Yes
Age_Group
0          93.173432  6.826568
1-4        93.445550  6.554450
10-14      93.758967  6.241033
15         94.541638  5.458362
16         94.365139  5.634861
17         95.272436  4.727564
18         93.658537  6.341463
20-24      95.857418  4.142582
25-29      94.955013  5.044987
30-34      95.456776  4.543224
35-39      95.934342  4.065658
40-44      95.714404  4.285596
45-49      95.613420  4.386580
5-9        93.399209  6.600791
50-54      95.849212  4.150788
55-59      96.027717  3.972283
60-64      96.312596  3.687404
65-69      96.530830  3.469170
70-74      96.745257  3.254743
75-79      96.829655  3.170345
80-84      96.590722  3.409278
85-89      97.002981  2.997019
90-120     97.378954  2.621046

In [13]:
df.groupby('IMD_Decile')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow                         No       Yes
IMD_Decile
Least deprived 10%      96.114044  3.885956
Less deprived 10-20%    95.897175  4.102825
Less deprived 20-30%    95.954578  4.045422
Less deprived 30-40%    96.029940  3.970060
Less deprived 40-50%    96.163797  3.836203
More deprived 10-20%    95.981850  4.018150
More deprived 20-30%    96.080402  3.919598
More deprived 30-40%    96.074007  3.925993
More deprived 40-50%    96.001011  3.998989
Most deprived 10%       95.855324  4.144676
Unknown/Non-UK Country  95.944609  4.055391

In [24]:

df.groupby('Consultation_Type')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow                    No       Yes
Consultation_Type
Face-to-Face       95.723640  4.276360
Telemedicine       97.396882  2.603118

In [26]:
df.groupby('Appointment_Type')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow                   No       Yes
Appointment_Type
First             93.488655  6.511345
Subsequent        97.249311  2.750689