In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("../data/processed/nhs_no_show_enhanced_synthetic.csv")
df

,IMD_Decile,Ethnicity,Age_Group,Gender,Medical_Specialty,Consultation_Type,Appointment_Type,Base_NoShow_Prob,NoShow_Prob_Final,Previous_Appointments,Previous_NoShows,NoShow
0,More deprived 30-40%,Pakistani (Asian or Asian British),45-49,Female,Trauma and Orthopaedics,Face-to-Face,Subsequent,0.01,0.029,2,0,No
1,Least deprived 10%,British (White),90-120,Female,Allied Health Professional,Face-to-Face,Subsequent,0.01,0.011,5,0,No
2,Less deprived 20-30%,British (White),65-69,Female,Cardiology,Face-to-Face,Subsequent,0.01,0.021,4,0,No
3,Less deprived 30-40%,British (White),10-14,Male,Paediatrics,Face-to-Face,First,0.01,0.099,5,0,No
4,More deprived 10-20%,British (White),85-89,Female,General Surgery,Face-to-Face,Subsequent,0.01,0.013,4,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
249995,More deprived 30-40%,Any other White background,85-89,Male,Ophthalmology,Face-to-Face,Subsequent,0.01,0.023,2,0,No
249996,Most deprived 10%,British (White),17,Male,Urology,Face-to-Face,Subsequent,0.01,0.053,6,0,No
249997,More deprived 10-20%,British (White),60-64,Female,Gynaecology,Face-to-Face,Subsequent,0.01,0.023,4,0,No
249998,Most deprived 10%,Chinese (other ethnic group),50-54,Female,Nursing,Face-to-Face,Subsequent,0.01,0.027,5,0,No
249999,More deprived 20-30%,British (White),0,Male,Paediatrics,Face-to-Face,Subsequent,0.01,0.065,2,0,No

In [2]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   IMD_Decile             250000 non-null  object
 1   Ethnicity              250000 non-null  object
 2   Age_Group              250000 non-null  object
 3   Gender                 250000 non-null  object
 4   Medical_Specialty      250000 non-null  object
 5   Consultation_Type      250000 non-null  object
 6   Appointment_Type       250000 non-null  object
 7   Base_NoShow_Prob       250000 non-null  float64
 8   NoShow_Prob_Final      250000 non-null  float64
 9   Previous_Appointments  250000 non-null  int64
 10  Previous_NoShows       250000 non-null  int64
 11  NoShow                 250000 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 22.9+ MB

IMD_Decile               0
Ethnicity                0
Age_Group                0
Gender                   0
Medical_Specialty        0
Consultation_Type        0
Appointment_Type         0
Base_NoShow_Prob         0
NoShow_Prob_Final        0
Previous_Appointments    0
Previous_NoShows         0
NoShow                   0
dtype: int64

In [3]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
IMD_Decile,250000,11,Less deprived 40-50%,25108,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethnicity,250000,17,British (White),167167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age_Group,250000,24,80-84,22814,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,250000,2,Female,145747,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Medical_Specialty,250000,82,Allied Health Professional,29911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consultation_Type,250000,2,Face-to-Face,206532,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Appointment_Type,250000,2,Subsequent,168531,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Base_NoShow_Prob,250000.0,NaN,NaN,NaN,0.01,0.0,0.01,0.01,0.01,0.01,0.01
NoShow_Prob_Final,250000.0,NaN,NaN,NaN,0.039792,0.022651,0.01,0.023,0.033,0.059,0.105
Previous_Appointments,250000.0,NaN,NaN,NaN,3.4957,1.872326,0.0,2.0,3.0,5.0,17.0
Previous_NoShows,250000.0,NaN,NaN,NaN,0.138812,0.38082,0.0,0.0,0.0,0.0,5.0
NoShow,250000,2,No,239984,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("Missing values per column:")
print(df.isnull().sum())

# If any duplicate rows remain, drop them now
print('*'*30)
print("Duplicates before:", df.duplicated().sum())
df = df.drop_duplicates().reset_index(drop=True)
print("Duplicates after:", df.duplicated().sum())
print('*'*30)

Missing values per column:
IMD_Decile               0
Ethnicity                0
Age_Group                0
Gender                   0
Medical_Specialty        0
Consultation_Type        0
Appointment_Type         0
Base_NoShow_Prob         0
NoShow_Prob_Final        0
Previous_Appointments    0
Previous_NoShows         0
NoShow                   0
dtype: int64
******************************
Duplicates before: 63476
Duplicates after: 0
******************************

In [5]:

print(df['Gender'].value_counts(normalize=True) * 100)

print(df['IMD_Decile'].value_counts(normalize=True) * 100)

df['Age_Group'].value_counts().sort_values(ascending=False)

Gender
Female    56.380412
Male      43.619588
Name: proportion, dtype: float64
IMD_Decile
Less deprived 40-50%      9.995497
More deprived 30-40%      9.941884
Less deprived 30-40%      9.859321
More deprived 20-30%      9.858249
More deprived 10-20%      9.845918
More deprived 40-50%      9.837876
Less deprived 10-20%      9.800884
Less deprived 20-30%      9.764427
Most deprived 10%         9.638438
Least deprived 10%        9.547833
Unknown/Non-UK Country    1.909674
Name: proportion, dtype: float64

Age_Group
80-84      15541
65-69      14577
70-74      14480
75-79      14435
60-64      13641
55-59      11601
85-89      11317
35-39      11008
40-44      10642
45-49       9622
50-54       9385
30-34       8788
90-120      7475
25-29       6382
10-14       5585
5-9         5028
1-4         3928
Unknown     3699
0           2392
15          1590
16          1499
17          1429
20-24       1254
18          1226
Name: count, dtype: int64

In [6]:
noshow_rate = df['NoShow'].value_counts(normalize=True).mul(100)
print("No-show rate summary (%):\n", noshow_rate)

No-show rate summary (%):
 NoShow
No     94.74384
Yes     5.25616
Name: proportion, dtype: float64

In [7]:
df.groupby('Gender')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow         No       Yes
Gender
Female  95.114251  4.885749
Male    94.265066  5.734934

In [8]:

df.groupby("Age_Group")['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow            No       Yes
Age_Group
0          91.806020  8.193980
1-4        92.133401  7.866599
10-14      92.676813  7.323187
15         92.955975  7.044025
16         94.663109  5.336891
17         93.561931  6.438069
18         94.861338  5.138662
20-24      95.374801  4.625199
25-29      94.296459  5.703541
30-34      93.365954  6.634046
35-39      93.359375  6.640625
40-44      94.155234  5.844766
45-49      94.949075  5.050925
5-9        91.646778  8.353222
50-54      95.290357  4.709643
55-59      94.707353  5.292647
60-64      95.022359  4.977641
65-69      95.355697  4.644303
70-74      95.041436  4.958564
75-79      95.455490  4.544510
80-84      95.444309  4.555691
85-89      96.103208  3.896792
90-120     96.575251  3.424749
Unknown    97.620979  2.379021

In [9]:
df.groupby('IMD_Decile')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow                         No       Yes
IMD_Decile
Least deprived 10%      94.828458  5.171542
Less deprived 10-20%    94.797878  5.202122
Less deprived 20-30%    94.827870  5.172130
Less deprived 30-40%    94.681892  5.318108
Less deprived 40-50%    94.657799  5.342201
More deprived 10-20%    94.794446  5.205554
More deprived 20-30%    94.708506  5.291494
More deprived 30-40%    94.558887  5.441113
More deprived 40-50%    94.779292  5.220708
Most deprived 10%       94.710201  5.289799
Unknown/Non-UK Country  95.255474  4.744526

In [10]:

df.groupby('Consultation_Type')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow                    No       Yes
Consultation_Type
Face-to-Face       94.123275  5.876725
tele-consult       97.160701  2.839299

In [11]:
df.groupby('Appointment_Type')['NoShow'].value_counts(normalize=True).unstack() * 100

NoShow                   No       Yes
Appointment_Type
First             92.200716  7.799284
Subsequent        96.218313  3.781687

In [12]:
# Group by and count
df = df[df['Medical_Specialty'] != 'Total Activity']

specialty_counts = df.groupby(['Medical_Specialty', 'Gender', 'Age_Group']).size().reset_index(name='Count')

# Sort by count descending
specialty_counts = specialty_counts.sort_values(by='Count', ascending=False).reset_index(drop=True)

# Display
specialty_counts.head(10)

            Medical_Specialty  Gender Age_Group  Count
0                   Midwifery  Female     35-39   1414
1                   Midwifery  Female     30-34   1100
2                   Midwifery  Female     40-44   1031
3                  Obstetrics  Female     35-39   1009
4               Ophthalmology  Female     80-84    897
5                 Gynaecology  Female     35-39    836
6  Allied Health Professional  Female     65-69    813
7                  Obstetrics  Female     30-34    809
8               Ophthalmology  Female     85-89    803
9  Allied Health Professional  Female     60-64    794